.box {
  border: 0px solid;
  margin: 2px;
  padding: 10px;
  display: inline-flex;
  background: rgb(95 101 130);
  font-size: 50px;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  font-family: 'Comic Neue', cursive;
  color: white;
  text-shadow: 2px 2px 0 #000;
}

footer {
    position: fixed;
    clear: both;
    width: 100%;
    background-color: gray;
    bottom: 0;
    left: 0;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Comic Neue', cursive;
}

.red-bg {
    background: red;
}

.rainbow-bg {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
    color: white;
    text-shadow: 2px 2px 0 #000;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.box input {
    margin: auto;
    width: 95%;
    height: 90%;
}

.box1-1 {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    aspect-ratio: 1;
}

.box4-1 {
  grid-column: auto / span 4;
  grid-row: auto / span 1;
  aspect-ratio: 4;
}

.box3-1 {
  grid-column: auto / span 3;
  grid-row: auto / span 1;
  aspect-ratio: 3;
}

.box2-1 {
  grid-column: auto / span 2;
  grid-row: auto / span 1;
  aspect-ratio: 2;
}

form.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /*grid-gap: 1em 1em;*/
    grid-auto-flow: row dense;
    justify-content: center;
}

body {
    margin: 0px;
    background-color: black;
}

input[type="input"] {
    font-size: 90px;
    background-color: rgba(0,0,0,0);
    border-width: 0px;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    color: white;
    text-shadow: 2px 2px 0 #000;
}

input[type="color"] {
    width: auto;
    height: auto;
    padding: 0px;
    border-width: 0px;
}

input[type="submit"] {
    font-size: 30px
}