<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <form class="grid" action="/" method="post">
            <div class="box box4-1">
                <input type="input" name="text" value="" placeholder="..." autocomplete="off">
            </div>
            <button class="box box1-1" type="submit" name="show" value="Show">
                Show
            </button>
            <button class="box box2-1 rainbow-bg" type="submit" name="regenboog" value="Regenboog">
                Regenboog
            </button>
            <button class="box box1-1" type="submit" name="clear" value="Clear">
                Clear
            </button>
            <button class="box box2-1" type="submit" name="randomWoord" value="1">
                Random Woord
            </button>
        </form>
    </body>
    <footer>
        Copyright Aar-, Di-, Simon (2021)
    </footer>
</html>