<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <form action="/" method="post">
            <div class="group">
                <input type="input" name="text" value="">
                <input type="submit" name="show" value="Show">
            </div>
            <br>
            <br>
            <div class="group">
                <input type="submit" name="clear" value="Clear">
                <input type="submit" name="regenboog" value="Regenboog">
            </div>
        </form>
    </body>
</html>