<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/style.css?v=1.0.0">
    </head>
    <body>
        <form class="grid" action="/" method="post">
            <div class="box box4-1">
                <input type="input" name="text" value="" placeholder="..." autocomplete="off">
            </div>
            <button class="box box1-1" type="submit" name="show" value="Show">
                Show
            </button>
            <button class="box box2-1 rainbow-bg" type="submit" name="regenboog" value="Regenboog">
                Regenboog
            </button>
            <button class="box box1-1" type="submit" name="clear" value="Clear">
                Clear
            </button>
            <button class="box box2-1" type="submit" name="randomWoord" value="1">
                Random Woord
            </button>
            <button class="box box1-1" type="submit" name="golf" value="1">
                Golf
            </button>
            <button class="box box1-1" type="submit" name="lijnen" value="1">
                Lijnen
            </button>
        </form>
    </body>
    <footer>
        Copyright Aar-, Di-, Simon (2021)
    </footer>
</html>